INGEST_GRPC_ENDPOINT=http://127.0.0.1:10000
INGEST_DATABASE_URL=postgres://root@127.0.0.1:26257/das?sslmode=disable
INGEST_STATE_DIR=/var/lib/das-grpc-ingester
INGEST_CONCURRENCY=64
INGEST_DATABASE_MAX_CONNECTIONS=64
# INGEST_START_SLOT=
# INGEST_METADATA_DISABLE=true
